<h1>Listing book_details</h1>

<table>
  <tr>
    <th>Detail</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_details.each do |book_detail| %>
  <tr>
    <td><%= book_detail.detail %></td>
    <td><%= book_detail.book %></td>
    <td><%= link_to 'Show', book_detail %></td>
    <td><%= link_to 'Edit', edit_book_detail_path(book_detail) %></td>
    <td><%= link_to 'Destroy', book_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book detail', new_book_detail_path %>
